* {
    text-align: center;

}

body {
    background-color: #e6e6e6;
    /*font-family:'Anton', sans-serif;*/
}
/*.jumbotron{*/
/*    background-image: url("images/logo.png");*/
/*}*/

.logo-block{
    background-color: white;
    height: 65px;
    margin: 20px 0;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

.logo-image{
    /*margin-top: 25px;*/
    width: 105px;
    height: 105px;
    /*justify-content: center;*/
    /*z-index: 1000;*/
    left: 50%;
    transform: translate(-50%, 0%);
}
.codeup-header {
    font-size: xxx-large;
    margin: .15em 0;
    font-family: 'Abel', sans-serif;
}

h2{
margin-bottom: 1em;
    font-family:'Anton', sans-serif;
}

h3 {
    margin-bottom: 1em;
    font-family:'Anton', sans-serif;
}

h5 {
    font-family:'Anton', sans-serif;
}
.offset-1{
    margin-top: 0.15em;
    margin-bottom: 3em;
}

.dot-design {
    height: 105px;
    width: auto;
    background-color: #f0f0f0;
    border-radius: 100%;
    display: table;
    margin: 20px;
    /*border-color: #f0f0f0;*/
    border: 5px white solid;
    padding: 0;
}
/*.border{*/
/*    border-width: 1em;*/
/*    color: #f0f0f0;*/
/*}*/

/*.row {*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-wrap: wrap;*/
/*    margin-right: -15px;*/
/*    margin-left: -15px;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*}*/

.dot-design p{
    vertical-align: middle;
    display: table-cell;
    background-color: #e6563b;
    border-radius: 100%;
    color: #e6e6e6;
    font-weight: bold;
    border: #f0f0f0;
}

.dot-develop{
    height: 105px;
    width: auto;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: table;
    margin: 20px;
    border: 5px white solid;
    padding: 0;
}

/*.border-primary{*/
/*    border-radius: 100%;*/
/*}*/

.dot-develop p{
    vertical-align: middle;
    display: table-cell;
    background-color: #dea03d;
    border-radius: 100%;
    color: #e6e6e6;
    font-weight: bold;
    border: #e6e6e6;
}

.dot-support{
    height: 105px;
    width: auto;
    background-color: #f0f0f0;
    border-radius: 100%;
    display: table;
    margin: 20px;
    border: 5px solid white;
    padding: 0;
}

.dot-support p{
    vertical-align: middle;
    display: table-cell;
    background-color: #7cb06c;
    border-radius: 100%;
    color: #e6e6e6;
    font-weight: bold;
    border: #e6e6e6;
}

.dot-host{
    height: 105px;
    width: auto;
    background-color: #f0f0f0;
    border-radius: 100%;
    display: table;
    margin: 20px;
    border: 5px solid white;
    padding: 0;
}

.dot-host p{
    vertical-align: middle;
    display: table-cell;
    background-color: #00aba9;
    border-radius: 100%;
    color: #e6e6e6;
    font-weight: bold;
    border: #e6e6e6;
}

.apple-ipad-border {
    border: 7px solid lightgrey;
    padding: 0;
    border-radius: 5%;
}

.small-circle {
    height: 18px;
    width: auto;
    background-color: #f0f0f0;
    border-radius: 100%;
    display: table;
    margin: 0.5px;
    /*border: 5px solid white;*/
    padding: 0;
}

.small-circle p {
    vertical-align: middle;
    display: table-cell;
    border-radius: 100%;
    /*color: #e6e6e6;*/
    font-weight: bold;
    border: #e6e6e6;
}

.dotty-design p{
    background-color: #e6563b;
}
.dotty-develop p{
    background-color: #dea03d;
}
.dotty-support p{
    background-color: #7cb06c;
}
.dotty-host p{
    background-color: #00aba9;
}

.mt-4 {
    margin-bottom: 3em;
}

.font-size {
    font-size: 14px !important;
}

@media screen and (min-width: 576px) and (max-width: 767px){

    h2 {
        font-size: x-large;
    }
    .codeup-header {
        font-size: x-large;
        margin-bottom: 10px;
    }

    .logo-block{
        background-color: white;
        height: 65px;
        margin: 20px 0;
        align-items: center;
    }
    .logo-image{
        /*margin-top: 25px;*/
        width: 105px;
        height: 105px;
        /*justify-content: center;*/
        /*z-index: 1000;*/
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .logo-image {
        left: 50%;
        transform: translate(-325%, 5%);
    }
    .medium-screen {

    }
    .codeup-header {
        font-size: 40px;
        margin: -5px auto 0 165px;
        font-family: 'Abel', sans-serif;

    }
    .selected-work{
        text-align: left;
        margin-left: -150px;
    }
    .the-last{
        margin-left: -30px;
    }

    p {
        font-weight: bold;
    }

    /*.card-horizontal {*/
    /*       display: flex;*/
    /*       flex: 1 1 auto;*/
    /*   }*/
}

@media screen and (min-width: 992px) {

}


