* {
    background-color: #e6e6e6;
    text-align: center;
}

.logo-image{
    width: 105px;
    height: 105px;
    justify-content: center;
}
.codeup-header {
    font-size: xxx-large;
    margin: 0.5em 0;
}

.dot-design {
    height: 105px;
    width: 105px;
    background-color: #e6563b;
    /*border-radius: 100%;*/
    /*border-color: #f0f0f0;*/
}
/*.border{*/
/*    border-width: 1em;*/
/*}*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p{

}